<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restproject" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestProject"


        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        >
        EditAnswerActivity
        <activity
            android:name=".Activities.RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.UserInfoActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.CreateSurveyActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MySurveyActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.EditSurveyActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.EditAnswerActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.SurveyAttemptActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.CreateQuestionActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.CreateTypeActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.EditQuestionActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.RunAttemptActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.EditSurveyResults"
            android:exported="true" />
        <activity
            android:name=".Activities.ShowResultActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.RunAttemptTestActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>